.icon-twitter {
  background-color: #55acee;
}

.icon-twitter {
  background-color: #55acee;
}

.icon-facebook {
  background-color: #3a5795;
}

.icon-youtube {
  background-color: #d11d1d;
}

p1 {
  font-size: 18px;
  background-color: #dddddd;
}

img {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

body {
  background-image: url(./assets/img/BB.jpg);
  background-color: rgb(219, 222, 224);
}

nav.navbar li a:hover {
  background-color: #bd7e76;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-toggler {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: rgb(226, 226, 1);
  background-color: white;
  border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
}

.footer {
  background-color: rgb(223, 217, 217);
  margin: 0;
  padding: 0.5px;
  text-align: center;
}

.contact-info h3 {
  font-family: 19px;
}
.contact-info p {
  margin: 5px 0;
}

.Imagen {
  margin-top: 100%;
  margin-left: 0px;
  width: 1000px;
}

#section1 {
  display: list-item;
  font-size: larger;
}

.social {
  position: fixed;
  right: 25px;
  top: 250px;
  z-index: 2000;
  margin: -15px;
}
.social ul {
  list-style: none;
}
.social ul li a {
  display: inline-block;
  color: #fff;
  background: #000;
  padding: 15px 20px;
  text-decoration: none;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.social ul li a:hover {
  background: black;
  padding: 30px 30px;
}
.social ul li .icon-facebook {
  background: #3b5998;
}
.social ul li .icon-twitter {
  background: #00abf0;
}
.social ul li .icon-youtube {
  background: #c9300d;
}
.social ul li .icon-pinterest {
  background: #ae181f;
}
.social ul li .icon-mail {
  background: #666666;
}

input[type=textfield] {
  width: 75%;
  padding: 16px 32px;
  font-size: 16px;
  margin: 8px 0;
  border: 1px solid silver;
  border-radius: 1px;
  text-align: left;
  color: #333;
  background: #ccc;
}

input[type=button] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  font-size: 16px;
  min-width: 21%;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
input[type=button]:hover {
  background-color: #333;
}

input[type=submit] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  font-size: 16px;
  min-width: 21%;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #333;
}

input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  font-size: 16px;
  min-width: 21%;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
input[type=reset]:hover {
  background-color: #333;
}

.desmos-graph {
  width: 100%;
  height: 500px;
}

h3 {
  color: rgb(14, 13, 19);
}

.image-container {
  text-align: center;
}

* {
  margin: 0.5x;
  padding: 0.5px;
  box-sizing: border-box;
}

.navbar {
  background-color: rgba(2, 2, 3, 0.849) !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.bg-danger {
  --bs-bg-opacity: 1;
  background-color: rgb(127, 135, 143) !important;
}

.bg-success {
  --bs-bg-opacity: 1;
  background-color: #47ca63, var(--bs-bg-opacity) !important;
}

.navbar-nav .nav-link.active {
  color: white !important;
}
.navbar-nav .nav-link.show {
  color: white !important;
}

.nav-link {
  display: rgb(255, 255, 255) !important;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
  font-size: 1.5rem;
  color: rgba(29, 58, 189, 0.733) !important;
  text-align: left;
  background-color: var(--bs-accordion-btn-bg);
  border: 10px;
  border-radius: 0.5rem;
  overflow-anchor: none;
  transition: var(--bs-accordion-transition);
}

.navbar-brand {
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
  margin-right: var(--bs-navbar-brand-margin-end);
  font-size: var(--bs-navbar-brand-font-size);
  color: rgb(236, 234, 234) !important;
  text-decoration: none;
  white-space: nowrap;
}

ul.navbar li a:hover {
  background-color: #bd7676;
}

form {
  width: 100%;
  max-width: 400px;
  text-align: center;
  border: solid 1px #c2c2c2;
  padding-bottom: 10px;
  margin: auto;
  background: #fafafa;
}

/*# sourceMappingURL=style.css.map */
