$color_1: rgba(226, 226, 0.65);
$color_2: #fff;
$color_3: #333;
$color_4: white;
$color_5: rgb(14, 13, 19);
$color_6: var(--bs-nav-link-color);
$color_7: rgba(29, 58, 189, 0.733);
$color_8: rgb(236, 234, 234);
$font-family_1: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family_2: 19px;
$background-color_1: rgb(219, 222, 224);
$background-color_2: #bd7e76;
$background-color_3: rgb(223, 217, 217);
$background-color_4: #4CAF50;
$background-color_5: #333;
$background-color_6: rgba(2, 2, 3, 0.849);
$background-color_7: rgb(127, 135, 143);
$background-color_8: #47ca63,var(--bs-bg-opacity);
$background-color_9: var(--bs-accordion-btn-bg);
$background-color_10: #bd7676;